<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mattgu.cash"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mattgu.cash.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mattgu.cash.LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mattgu.cash.ReloadActivity"
            android:label="@string/title_activity_reload" >
        </activity>
        <activity
            android:name="com.mattgu.cash.PayActivity"
            android:label="@string/title_activity_pay" >
        </activity>
        <activity
            android:name="com.mattgu.cash.AccountActivity"
            android:label="@string/title_activity_account" >
        </activity>
    </application>

</manifest>
